{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>      
    <p>{% trans %}Published on{% endtrans %} {{ article.createdAt | date('d/m/Y à H\\hi') }}</p>
    <p>
        {% for categorie in article.categories %}
            {{ categorie.name }}
        {% endfor %}
    </p>
    <p>
        <img src="{{ vich_uploader_asset(article, 'imageFile')|imagine_filter('article') }}" alt="{{ article.title }}">
    </p>
    <div class="">{{ article.content | raw }}</div>       
    <h2>{% trans %}Comments{% endtrans %} ({{ article.comments | length }})</h2>
    {% for comment in article.comments %}
        <p>{% trans %}Published by{% endtrans %} {{ comment.nickname }}</p>
        <div>{{ comment.content }}</div>
    {% else %}
        <p>{% trans %}There is no comments yet{% endtrans %}</p>
    {% endfor %}

    <h2>{% trans %}Add a comment{% endtrans %}</h2>
        {{ form(commentForm) }}
{% endblock %}