{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success" role="alert">
            {{ message }}      
        </div>
    {% endfor %}
    {% for article in articles %}
        <h1><a href="{{ path('article', { slug: article.slug }) }}">{{ article.title }}</a></h1>      
        <p>Publié le {{ article.createdAt | date('d/m/Y à H\\hi') }}</p>
        <p>
            {% for categorie in article.categories %}
                {{ categorie.name }}
            {% endfor %}
        </p>
        <p>
            <img src="{{ vich_uploader_asset(article, 'imageFile')|imagine_filter('echelle') }}" alt="{{ article.title }}">
        </p>
        <div class="">{{ article.content | raw }}</div>        
    {% endfor %}
{% endblock %}
