<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% trans %}Welcome !{% endtrans %}{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

        <script src="{{ asset('assets/js/jquery-3.4.1.slim.min.js') }}"></script>
        <script src="{{ asset('assets/js/popper.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        <script src="{{ asset('assets/js/scripts.js') }}"></script>
    </head>
    <body>    
        {{ include("partials/navbar.html.twig") }}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
